 /* criando um estilo para o fundo de tela */


 /* body{
     background-image: url(../imagens/natureza.jpeg);
     background-size: 1200px;
     background-repeat: no-repeat;
 } */


 /* criando o contexto de estilo nativo */
 h1{
    font-size: 18px;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* criando um estilo de classo */

.cab_especial{

    font-size: 16px;
    font-weight: bolder;
    color: green;
}

.formatacao_campos{
    background-color: rgb(208, 241, 226);
    font-size: 12px;
    font-weight: bolder;
    color: rgb(103, 2, 2);
}

/* criando estilos para id */
#cadastro{
    color: blueviolet;
    font-size: 12px;
}

/* criando um padrao de tamanho para os campos do formulario */
.campo_nome{
    width: 200px;
    background-color: white;
}

.campo_email{
    width: 300px;
    background-color: white;
}